@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer utilities {
  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400; /* Change to 500, 600, or 700 if you want */
    font-style: normal;
  }
}